
#container{
    width:900px;
    
} 


    
#header {
    
    width:auto;
    height:150px;
    position:relative;
    background: #BF8893;
    border-bottom: 1px solid #000;
    margin:10px 10px 0 10px;
}  

#footer { 
    clear:both;
    width:auto;
    height:40px;
    background-color:black;
    margin:0 10px 10px 10px;
    
}



a:link {color:#7F5A62;}
a:visited {color:#7F5A62;}
a:focus {color:silver;}
a:hover {color:gray;}
a:active {color:white;}

h1 {    font-variant: small-caps;
        font-size:2em;}
        
h2 {    font-variant: small-caps;
        font-size:1.6em;}        
        
h3 {    font-variant: small-caps;
        font-size:1.3em;}
        
p { font-family: "Helvetica", "Arial", Sans-serif;
    font-size:0.9em;}

body { 
    color:black;
    
    text-align: left;
    margin: 40px;
    font-size:1em;
    
    }

#menu {
    width:auto;
    height:30px;
    position:relative;
    background-color:black;
    font-variant:small-caps;
    margin:0 10px 10px 10px;
    
}

.nav {
    list-style-type: none;
    position:absolute;
    margin: 4px 0 1px 170px;
    
}

.nav li {
    margin-right: 20px;
    display:inline;
}    

.nav a {
    
    color: #FFB5C4;
    font-size:14px;
    font-family:arial;
    text-decoration:none;
    padding: .4em 1em;
    background-color: black;
    
}

.nav a:hover{
    color:#7F5A62;
    font-size:14px;
    font-family:arial;
    text-decoration:none;
}

.active {
    background-color:#402D31;
}


#sideNav{
    float:left;
    width:200px;
    height:2000px;
    background-color: #402D31;
    margin:10px 0 10px 10px;
    color:#FFB5C4;
    
    
}

#sideNav2 {
     float:right;
     width:200px;
     height:2000px;
     background-color: #7F5A62;
     margin:10px 10px 10px 0;
     color:;

}


    
#mainContent {
    width: 700px;
    height: 40%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid#000;
    background-color:#FFB5C4 ;
    color: #402D31;
    
    
}
